#alt_bac {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
#alt_bac #bay_vip {
  width: 1140px;
  height: auto;
  background: linear-gradient(180deg, #327ab8 0%, #174582 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#alt_bac #bay_vip .tit {
  background: #0e366b;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  color: #ecce9a;
  font-size: 38px;
}
#alt_bac #bay_vip .tit img {
  height: 40px;
}
#alt_bac #bay_vip .cont {
  padding: 50px;
  overflow: hidden;
}
#alt_bac #bay_vip .cont .list {
  float: left;
  width: 50%;
}
#alt_bac #bay_vip .cont .list h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
#alt_bac #bay_vip .cont .list > div {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  padding: 0 30px;
}
#alt_bac #bay_vip .cont .list > div .left {
  float: left;
  height: 100%;
  line-height: 80px;
  font-size: 26px;
  color: #ecce9a;
}
#alt_bac #bay_vip .cont .list > div .right {
  float: right;
  height: 100%;
  line-height: 80px;
  color: #ecce9a;
  font-size: 38px;
}
#alt_bac #bay_vip .cont .list > div .right span {
  color: #ecce9a;
  font-size: 20px;
}
#alt_bac #bay_vip .cont .list .vip_ck {
  background: linear-gradient(180deg, #f7e9ca 0%, #ecce9a 100%);
}
#alt_bac #bay_vip .cont .list .vip_ck * {
  color: #000 !important;
}
#alt_bac #bay_vip .cont .qrcode {
  float: left;
  width: 50%;
  height: auto;
  padding: 50px 0 0;
}
#alt_bac #bay_vip .cont .qrcode .code_box {
  width: 330px;
  height: 330px;
  background: rgba(255, 255, 255, 0.2);
  margin: auto;
}
#alt_bac #bay_vip .cont .qrcode .bay_box {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}
#alt_bac #bay_vip .cont .qrcode .bay_box b,
#alt_bac #bay_vip .cont .qrcode .bay_box span {
  color: #ecce9a;
  font-weight: normal;
}
#alt_bac #bay_vip .cont .qrcode .bay_box b {
  font-size: 36px;
}
#alt_bac #bay_vip .cont .qrcode .bay_box span {
  font-size: 26px;
}
#alt_bac #user_log {
  width: 750px;
  height: auto;
  background: linear-gradient(180deg, #327ab8 0%, #174582 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#alt_bac #user_log .tit {
  background: #0e366b;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  font-size: 38px;
}
#alt_bac #user_log .tit img {
  height: 40px;
}
#alt_bac #user_log .cont {
  padding: 40px;
  height: auto;
}
#alt_bac #user_log .cont .qrcode {
  width: 330px;
  height: 330px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
#alt_bac #user_log .cont .qrcode img {
  display: block;
  width: 100%;
  height: 100%;
}
#alt_bac #user_log .cont .buy_box {
  display: block;
  text-align: center;
  font-size: 32px;
  margin: 30px 0 20px;
  overflow: hidden;
}
#alt_box {
  position: fixed;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  font-size: 150px;
  color: #000;
}
#alt_box span {
  display: block;
  font-size: 36px;
}
