<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
        <title>医学微视tv-home</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/element-ui.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" type="text/css" href="css/alt.css"/>
    </head>
    <body>
        <div id="home" v-cloak>
            <el-container>
                <el-header>
                    <el-row :gutter="5">
                        <el-col :span="15">
                            <div class="grid-content bg-purple">
                                <el-input placeholder="搜索(病症、医生、医院、话题)" prefix-icon="el-icon-search" v-model="webdata.searth">
                                </el-input>
                                <el-button round icon="el-icon-user">登录</el-button>
                                <el-button round class="vip"><img src="imgs/VIP.png">开通会员</el-button>
                            </div>
                        </el-col>
                        <el-col :span="9">
                            <div class="grid-content bg-purple-light">
                                <div class="tit">医学微视</div>
                                <div class="date">{{webdata.time}}</div>
                            </div>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <div class="info">
                        <el-row :gutter="20">
                            <el-col :span="16">
                                <div class="left">
                                    <img src="imgs/Bitmap.png" alt="">
                                    <div class="cont">
                                        <div class="tit">医学微视简介</div>
                                        <div class="con">
                                            医学微视是响应「健康中国」战略，配合卫健委宣传司《全民健康素养促进行动》、中国医药卫生事业发展基金会联合主办、由中华医学会科学普及分会指导、中国医学科学院健康科普硏究中心监制而实施的一项医学科普项目。
                                        </div>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <div class="right">
                                    <img src="imgs/Bitmap.png" alt="">
                                </div>
                            </el-col>
                        </el-row>
                    </div>

                    <div class="list">
                        <el-row :gutter="20">
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img1.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img2.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img3.png">
                                    </div>
                                </a> </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img4.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img5.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img6.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img7.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img8.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img9.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img10.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img11.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img12.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img13.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img14.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img15.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img16.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img17.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img18.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img19.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img20.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img21.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img22.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img23.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img24.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img25.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img26.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img27.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img28.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img29.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img30.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img31.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img32.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img33.png">
                                    </div>
                                </a>
                            </el-col>
                            <el-col :span="4">
                                <a href="list.html">
                                    <div class="grid-content bg-purple">
                                        <img src="imgs/img34.png">
                                    </div>
                                </a>
                            </el-col>
                        </el-row>
                    </div>
                </el-main>
            </el-container>
            <div id="alt_bac" v-if="resdata.user_log">
                <div id="user_log" v-if="resdata.user_log">
                    <div class="tit">
                        会员购买
                    </div>
                    <div class="cont">
                        <div class="qrcode">
                            <div class="code_box">
                                <img src="imgs/qrcode.jpg" >
                            </div>
                            
                        </div>
                        <div class="buy_box">
                            （微信扫一扫）登录
                        </div>
                    </div>
                </div>
            </div>
            <div id="alt_box" v-if="resdata.alt_box">
                <i class="el-icon-circle-check"></i>
                <span>登录成功</span>
            </div>
        </div>
    </body>
    <script src="js/vue.2.6.10.js"></script>
    <script src="js/axios-0.19.0.min.js"></script>
    <script src="js/element-ui.js"></script>
    <script src="js/es6-promise.auto.js"></script>
    <script src="js/netHttp.js"></script>
    <script src="js/home.js"></script>
</html>
